<div class="d-flex justify-content-center social-links">
    <span class="mx-2">
        <a class="nav-link" href="https://www.instagram.com/2bleb.bar/" target="_blank" aria-label="Instagram account">
            <i class="fab fa-instagram"></i></a>
    </span>
    <span class="mx-2">
        <a class="nav-link" href="https://www.facebook.com/people/2blebbar/61568475687799/" target="_blank" aria-label="Facebook account">
            <i class="fab fa-facebook-f"></i></a>
    </span>
    <span class="mx-2">
        <a class="nav-link" href="https://wa.me/598092166318" target="_blank" aria-label="WhatsApp number">
            <i class="fab fa-whatsapp"></i></a>
    </span>
</div>