<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>2bleB Bar - Barra Móvil para eventos - Coctelería y Mixología</title>
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/png" sizes="16x16">
        
        <meta name="description" content="Cócteles premium a tu medida. Nuestra barra móvil te lleva los mejores sabores y mixología innovadora a donde quieras.">
        <meta name="keywords" content="bar, 2bleB, cocktails, mixologia, bebida, barra movil, uruguay, montevideo">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link rel="cannonical" href="{{ url_for('index', _external=True) }}">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-RGQDL9Q4YM"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-RGQDL9Q4YM');
        </script>
    </head>
    <body>
        <header class="position-absolute w-100">
            <nav class="navbar navbar-expand-lg navbar-dark d-lg-block">
                <div class="container d-flex">
                    <!-- Navbar brand -->
                    <a class="navbar-brand nav-link logo-link" target="_blank" href="{{ url_for('index', _external=True) }}">
                        <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo" class="logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#main-navbar" aria-controls="main-navbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse justify-content-between" id="main-navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item active px-1">
                                <a class="nav-link active" href="#about-us">Nosotros...</a>
                            </li>
                            <li class="nav-item px-1">
                                <a class="nav-link" href="#services">Nuestros Servicios</a>
                            </li>
                            <!--<li class="nav-item px-1">
                                <a class="nav-link" href="#">¿Quiere saber más?</a>
                            </li>-->
                        </ul>

                        {% include "social_links.html" %}
                    </div>

                </div>
            </nav>
            <!-- Navbar -->

        </header>
        <!--Main Navigation-->
        
        <main class="">
            {% block content %}{% endblock %}
        </main>

        <!--Footer-->
        <footer class="bg-light text-lg-start">
            <div class="container d-flex  justify-content-around">

                <div class="text-center py-2 align-items-center">
                    <span>Siguenos en Redes Sociales</span>
                    {% include "social_links.html" %}
                </div>

                <a class="navbar-brand nav-link logo-link py-2" target="_blank" href="{{ url_for('index', _external=True) }}">
                    <img src="{{ url_for('static', filename='images/logo.webp') }}" alt="Logo" class="logo" loading="lazy">
                </a>
                
            </div>
            

            <!-- Copyright -->
            <div class="text-center p-2 copyright">
                &copy; {{ current_year }} Copyright: <b>2bleB</b>
            </div>
            <!-- Copyright -->
        </footer>
        <!--Footer-->
        
    </body>
</html>
